{% extends "base.html" %}
{% block content %}
<section id="main" class="collapsable">
  <header>
    <h2>
      <a href="{{ SITEURL }}/{{ article.url }}"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
  </header>
  <footer>
    <time datetime="{{ article.date}}">
      {{ article.locale_date }}
    </time>
    {% if article.modified %}
    <time datetime="{{ article.modified }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}
  </footer>
  <div class="entry-content">
    {{ article.content }}
  </div>
</section>
{% endblock %}