<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% endblock head %}
</head>

<body id="index" class="home">
        {% include 'top-nav.html' %}
        {% include 'left-nav.html' %}
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body"> </address>
        </footer>

        <script>
                function toggleNav() {
                        n = document.getElementById("nav");
                        n.classList.toggle('overlay');
                        n.classList.toggle('collapsable');
                        b = document.getElementById('close-btn');
                        b.classList.toggle('visible');
                }
        </script>
</body>

</html>