{% extends "base.html" %}
{% block content %}
<section id="main" class="index collapsable">
    <h1>Posts</h1>
    <ol>
        {% for article in articles_page.object_list %}
        <li>
            <article>
                <header>
                    <time class="post-publish-date" datetime="{{ article.date }}"> {{ article.locale_date }} </time>
                </header>
                <h2><a href="{{ SITEURL }}/{{ article.url }}"
                        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                <div> {{ article.summary }} </div>
            </article>
        </li>
        {% endfor %}
    </ol>
    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
</section>
{% endblock content %}