<nav id="nav" class="collapsable">
    <a href="javascript:void(0)" id="close-btn" onclick="toggleNav()">&times;</a>
    <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    </header>
    {% for p in pages %}
    <a {% if (not page) or (page and p.title != page.title) %} class="nav-link" {% endif %}
        {% if page and p.title == page.title %} class="nav-link-selected" {% endif %} href="{{ SITEURL }}/{{ p.url }}">
        <span>{{ p.title }}</span>
    </a>
    {% endfor %}
</nav>