{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<section id="main" class="collapsable">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
</section>
{% endblock %}