:root {
  --nav-width: 165px;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}


#main {
  margin: 0 auto;
  max-width: 800px;
  padding-left: calc(var(--nav-width) + 10px);
}

#nav {
  height: 100%;
  width: var(--nav-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 2px solid;
  padding-left: 4px;
  background-color: #cfcfcf;
}


#nav-btn {
  border: none;
  background: none;
}

#nav header a {
  color: inherit;
}

#nav.overlay {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(222, 222, 222);
  overflow-x: hidden;
  transition: 0.5s;
}

#top-nav {
  display: none;
}

#top-nav-header {
  display: inline-block;
}

#close-btn {
  position: absolute;
  right: 2px;
  display: none;
}

#close-btn.visible {
  display: inline;
}

.index a {
  text-decoration: none;
}

.index h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.index ol {
  list-style-type: none;
  padding-left: 0;
}

.index p {
  margin-top: 0;
}

.post-publish-date {
  color: gray;
}

.nav-link {
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  padding-right: 60px;
}

.nav-link:hover {
  color: white;
  background-color: black;
}

.nav-link:hover::after {
  color: black;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -10px;
}

/*TODO(ecarlin): Remove duplicate code with nav-link */
.nav-link-selected {
  color: white;
  background-color: black;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-right: 60px;
}

.nav-link-selected::after {
  color: black;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace;
}

span {
  padding-left: 10px;
}

@media screen and (min-width: 1200px) {
  #main {
    padding-left: 0px;
  }
}
@media screen and (max-width: 799px) {
  #nav.collapsable {
    width: 0px;
    border: none;
  }

  #main.collapsable {
    padding-left: 0;
  }

  #top-nav.visibility {
    display: block;
  }
}